body {
    margin: 10px;
}

/* article .first {
    font-size: 140%;
    font-style: italic;
} */

/* article :first-child {
    font-size: 140%;
    font-style: italic;
} */

/* article p:first-of-type {
    font-size: 140%;
    font-style: italic;
} */

article p:last-of-type {
    font-weight: bold;
}



ul li:nth-child(even) {
    color: deeppink;
}

a:visited {
    color: red;
}

a:hover, a:focus {
    color: black;
}